.hero {
  position: relative;
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #fff;
  background: black;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.imgFilter {
  position: absolute;
  background: #160898;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}

.img {
  color-adjust: economy;
}

.title {
  position: relative;
  z-index: 2;
}

.glitch {
  font-size: 12rem;
  visibility: visible;
  letter-spacing: 12px;
  font-family: "Alumni Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  text-shadow: 0.04em 0.03em 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  animation: glitchColors 6000ms infinite linear;
  margin: -200px 0 0 0;

  @media only screen and (max-width: 600px) {
    letter-spacing: 6px;
    font-size: 8rem;
    margin: -200px 0 0 0;
  }
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 6000ms infinite linear;
  clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
  transform: translate(0.04em, 0.03em);
  opacity: 0;
}

.smallGlitch {
  letter-spacing: 0;
  font-size: 6rem;
  font-weight: 400;
  position: absolute;
  bottom: -40px;
  right: 8%;
  animation: none;
  text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  transform: rotate(-6deg) scale(0.8, 0.8);

  @media only screen and (max-width: 600px) {
    bottom: -10px;
  }
}

.wrapper {
  margin: auto;
  max-width: 1250px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 4rem;
    text-shadow: 0.04em 0.03em 0 #000dff,
      -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    margin: 0 12px;
  }
}

@keyframes glitchColors {
  0% {
    text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }
  4% {
    text-shadow: -0.05em -0.025em 0 #000dff,
      0.025em 0.035em 0 rgba(187, 38, 184, 1);
  }
  5% {
    text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }
  35% {
    text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }
  36% {
    text-shadow: -0.05em -0.025em 0 #000dff,
      0.025em 0.035em 0 rgba(187, 38, 184, 1);
  }
  37% {
    text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }
  94% {
    text-shadow: 0.05em 0 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }
  95% {
    text-shadow: -0.05em -0.025em 0 #000dff,
      0.025em 0.035em 0 rgba(187, 38, 184, 1);
  }
  96% {
    text-shadow: 0.05em 0.035em 0 #000dff, 0.03em 0 0 rgba(187, 38, 184, 1);
  }
  98% {
    text-shadow: 0.05em 0.035em 0 #000dff, 0.03em 0 0 rgba(187, 38, 184, 1);
  }
  100% {
    text-shadow: -0.05em 0 0 #000dff, -0.025em -0.04em 0 rgba(187, 38, 184, 1);
  }
}

@keyframes glitch {
  0% {
    opacity: 0.75;
  }
  2% {
    opacity: 0.75;
  }
  3% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 0.75;
  }
  37% {
    opacity: 0.75;
  }
  38% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95% {
    opacity: 0.75;
  }
  96% {
    opacity: 0.75;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
