.promoWrapper {
  margin-top: 48px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  background: linear-gradient(
    144deg,
    rgba(0, 13, 255, 1) 0%,
    rgba(187, 38, 184, 1) 100%
  );

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

.alien {
  font-size: 2rem;
}

.footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.actions {
  display: flex;
  align-items: center;

  & > :first-child {
    margin-right: 12px;
  }
}
