html,
body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", sans-serif;
  scroll-behavior: smooth;
}

.hide-scroll {
  overflow: hidden !important;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  margin: auto;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 4rem;
    text-shadow: 0.04em 0.03em 0 #000dff,
      -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    margin: 0 12px;
  }
}

.heading {
  margin: 72px auto;
  font-size: 8rem;
  text-shadow: 0.04em 0.03em 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  @media only screen and (max-width: 600px) {
    font-size: 6rem;
  }
}

.challengeHeading {
  margin: 32px auto;
  font-size: 6rem;
  text-shadow: 0.04em 0.03em 0 #000dff, -0.03em -0.04em 0 rgba(187, 38, 184, 1);
  @media only screen and (max-width: 600px) {
    font-size: 4rem;
  }
}

@keyframes breath {
  0% {
    transform: scale(0.7);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
